# Environment variables
.env
.env.local
.env.*.local

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Java & Backend
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# IDE & Editors
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.DS_Store
*.log
*.docx
*.doc
